.example-spacer {
    flex: 1 1 auto;
}

.mat-expansion-panel-header.mat-expanded:focus, .mat-expansion-panel-header.mat-expanded:hover {
    background: var(--mdc-checkbox-selected-icon-color);
}

.card {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;

    span {
        margin: 2rem auto;
    }
}

.card-title {
    font-size: 3rem;
    font-weight: 700;
}

.card-code {
    font-size: 2rem;
    font-weight: 700;
}

  