<p>
  <mat-toolbar color="primary">
    <button mat-icon-button class="example-icon" aria-label="Example icon-button with menu icon">
      <mat-icon>menu</mat-icon>
    </button>
    <span>Our cards</span>
    <span class="example-spacer"></span>
    <button mat-icon-button class="example-icon favorite-icon" aria-label="Example icon-button with heart icon">
      <mat-icon>favorite</mat-icon>
    </button>
    <button mat-icon-button class="example-icon" aria-label="Example icon-button with share icon">
      <mat-icon>share</mat-icon>
    </button>
  </mat-toolbar>
</p>

  <mat-accordion class="example-headers-align" multi="false">
    <mat-expansion-panel *ngFor="let card of cards">
      <mat-expansion-panel-header>
        <mat-panel-title>
          {{ card.title }}
        </mat-panel-title>
      </mat-expansion-panel-header>

      <section class="card">
        <span class="card-title">{{ card.title }}</span>
        <img [src]="getImg(card.img)" style="max-width: 100%; height: auto;">
        <span *ngIf="card.code" class="card-code">{{ card.code | codeFormat }}</span>
      </section>
    </mat-expansion-panel>
  </mat-accordion>
